:root {
  --main-background-color: rgb(27, 27, 48);
  --main-container-color: rgb(245, 246, 247);
  --display-background: rgb(225, 226, 231);
  --purple-accent-color: rgb(119, 38, 170);
}

body {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.main-container {
  background-color: var(--main-container-color);
  width: 475px;
  height: 775px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 10px 10px rgb(174, 172, 177);
}

/* Helper classes */

.error-msg {
  text-align: center;
  color: red;
}

.pokemon-type {
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 66px;
  text-align: center;
}

.hidden {
  display: none;
}

/* User input section */

label {
  margin-top: 20px;
  font-size: 18px;;
}

#user-input {
  height: 75px;
}

#user-input > input {
  margin-top: 15px;
  height: 25px;
  width: 190px;
  padding: 10px;
  font-size: 18px;
}

button {
  width: 90px;
  height: 42px;
  border-radius: 20px;
  background-color: var(--purple-accent-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: goldenrod;
}

/* Pokemon display */

#pokemon-display {
  background-color: var(--display-background);
  width: 425px;
  height: 300px;
}

#pokemon-display > p {
  margin-left: 10px;
}

#pokemon-display > img {
  margin-left: 125px;
  height: 175px;
}

/* Stats Display */

#stats-display {
  width: 425px;
  height: 340px;
  margin-top: 10px;
  box-sizing: border-box;
}

table {
  width: 435px;
  margin-left: -5px;
}

tr {
  margin-bottom: 10px;
}

td, th {
  padding: 12px;
}

.type {
  width: 60%;
  background-color: var(--purple-accent-color);
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.value {
  width: 20%;
  background-color: var(--purple-accent-color);
  color: white; 
  text-align: center;
  margin-bottom: 5px;
}

/* Pokemon type classes */

.normal {
  background-color: rgb(168, 168, 125);
}

.fire {
  background-color: rgb(225 , 134, 68);
}

.water {
  background-color: rgb(112, 144, 233);
}

.electric {
  background-color: rgb(242, 209, 84);
}

.grass {
  background-color: rgb(139, 198, 96);
}

.ice  {
  background-color: rgb(166, 214, 215);
}

.fighting {
  background-color: rgb(177, 61, 49);
}

.poison {
  background-color: rgb(148, 70, 155);
}

.ground {
  background-color: rgb(219, 193, 117);
}

.flying {
  background-color: rgb(164, 145, 234);
}

.psychic {
  background-color: rgb(230, 99, 136);
}

.bug {
  background-color: rgb(171, 183, 66);
}

.rock {
  background-color: rgb(180, 161, 75);
}

.ghost {
  background-color: rgb(108, 89, 148);
}

.dragon {
  background-color: rgb(105, 59, 239);
}

.dark {
  background-color: rgb(108, 89, 74);
}

.steel {
  background-color: rgb(284, 184, 206);
}

.fairy {
  background-color: rgb(231, 184, 189);
}

.stellar {
  background-color: rgb(90, 270, 226);
}